.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  background-color: #005FF9;
  padding: 2vh 0vh 2vh 5%;
}

.logoIconImg {
  width: 15%;
  height: 5vh;
}

.mainContent {
  width: 420px;
  height: 54vh;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 20px;
  padding: 5vh 3% 5vh 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-size: larger;
  font-weight: 600;
}

.anothetIn {
  margin-top: 3vh;
  width: 100%;
  font-weight: 600;
}

.vkimage {
  filter: invert(52%) sepia(98%) saturate(7500%) hue-rotate(213deg) brightness(100%) contrast(104%);
  cursor: pointer;
}

.gosimage {
  cursor: pointer;
}

.anotherButtons {
  margin-top: 2vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.containerFooter {
  margin-top: 4vh;
  width: 420px;
  height: 10vh;
  border-top: 1px solid rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.resaveLink {
  margin-top: 1vh;
  color: #005FF9;
  text-decoration: none;
}

.createLink {
  margin-top: 1vh;
  color: #005FF9;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 3vh;
  align-items: center;
  display: flex;
  border-top: 1px solid rgb(214, 214, 214);
}

.footerText {
  color: gray;
  font-size: 14px;
  margin-left: 2%;
}

@media(max-width: 540px) {
  .logoIconImg {
    width: 30%;
    height: 5vh;
  }
}

@media(max-width: 430px) {
  .logoIconImg {
    width: 40%;
    height: 6vh;
  }

  .mainContent {
    width: 320px;
  }

  .containerFooter {
    width: 320px;
  }

  .resaveLink {
    margin-top: 1vh;
    color: #005FF9;
    text-decoration: none;
    font-size: 14px;
  }
  
  .createLink {
    margin-top: 1vh;
    color: #005FF9;
    text-decoration: none;
    font-size: 14px;
  }
}

@media(max-width: 330px) {
  .logoIconImg {
    width: 45%;
    height: 6vh;
  }

  .mainContent {
    width: 290px;
  }

  .containerFooter {
    width: 290px;
  }
}

@media(max-height: 630px) {
  .containerFooter {
    display: none;
  }
}
